.top {
  background: #1c1a3a;
  color: white;
  padding: 0 24px;
}

.top-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

.top-lower {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 32px 24px;
}

.tlc {
  width: 50%;
}

p {
  color: lightgray;
}

button {
  color: white;
  background: cornflowerblue;
  padding: 8px;
}

.top-mid {
  text-align: center;
  padding: 32px;
}

.tmc {
  display: flex;
  flex: 1;
}

.mid-mid {
  padding: 24px;
  background: lightgray;
}

strong {
  display: flex;
  justify-content: end;
}

.low-mid {
  display: flex;
  justify-content: center;
  background: white;
  padding: 24px;
}

.lmc {
  display: flex;
  gap: 32px;
  align-items: center;
  background: cornflowerblue;
  padding: 24px;
}

h1 {
  color: white;
}

button .lmc {
  width: 100px;
  height: 64px;
  border: solid;
}
