.top {
  color: white;
  padding: 0 24px;
}

.top-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
}

.top-lower {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 32px 24px;
}

.tlc {
  width: 50%;
}

p {
  color: lightgray;
  font-size: 16px;
}

/*For a tags styled like buttons*/
.button {
  background-color:cornflowerblue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button {
  color: white;
  background: cornflowerblue;
  padding: 8px;
}

.top-mid {
  text-align: center;
  padding: 32px;
}

.tmc {
  display: flex;
  gap: 8px;
}

img.lcap {
  width: 240px;
  height: 240px;
}

.mid-mid {
  padding: 24px;
  background: lightgray;
}

strong {
  display: flex;
  justify-content: end;
}

.low-mid {
  display: flex;
  justify-content: center;
  background: white;
  padding: 24px;
}

.lmc {
  display: flex;
  gap: 32px;
  align-items: center;
  background: cornflowerblue;
  border-radius: 24px;
  padding: 24px;
}

h1 {
  color: white;
}

.top-mid-title {
  color: black;
}

a.button-lmc {
   border: 2px solid white;
   border-radius: 8px;
   background-color: cornflowerblue;
   color: white;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
}


.footer {
  text-align: center;
  color: white;
  padding: 24px;
}

.footer, .top {
  background: #1c1a3a;
}
